header {
    background-color: #052326;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #9BBCBF;
    padding: 10px;
}

section {
    background-color: #575859;
    color: #F2F2F2;
    padding: 20px;
    margin: 20px;
}

aside {
    background-color: #9BBCBF;
    padding: 10px;
    margin: 10px;
}

article {
    background-color: #dbdedf;
    padding: 20px;
    margin: 5px;
}

footer {
    background-color: #052326;
    color: #F2F2F2;
    text-align: center;
    padding: 10px;
}


/* pseudoclase */
/* al poner el mouse sobre este cambia */
td:hover{
    color: rgb(0, 0, 0);
}
table{
    width:900px;
}
th{
    text-align: left;
}

body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif; /*Utilizar helvetica, si no está instalada usa Arial*/
    line-height: 1.5;
    padding: 4em 1em;
  }

h3 {
    margin-top: 1em;
    padding-top: 1em;
  }

  a {
    color: #e81c4f;
  }

.preguntas{
    color:  #771589;
}

ol li::marker {
    color:  #771589; /* Cambia el color de los números */
}

#preguntasHTML{
    color:  #771589;
}
