<%- include('includes/head.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12">

        <h2 class="text-body-secondary"> Gráficas </h2> <br>
        <!-- Menú de las diferentes gráficas -->
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active bg-secondary text-white" aria-current="page" href="#">Número de reseñas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-light text-black" href="#">Calificación de estrellas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-light text-black" href="#">Order to review</a>
            </li>
        </ul><br>

        <!-- Menú de selección por marca, categoría y producto-->
        <select class="form-select" aria-label="Default select example" id="selectMenu">
            <option selected>Marca</option>
            <option value="categoria">Categoría</option>
            <option value="producto">Producto</option>
        </select><br>

        <!-- Menú desplegable de categorías -->
        <select class="form-select" aria-label="Default select example" id="categoriaDropdown" style="display: none;">
            <option selected disabled>Seleccione una categoría</option>
            <option value="Colchones">Colchones</option>
            <option value="Almohadas">Almohadas</option>
            <option value="Muebles">Muebles</option>
            <option value="Blancos">Blancos</option>
            <option value="Niños">Niños</option>
        </select><br>

        <!-- Gráficas -->
        <img src="https://img.freepik.com/free-vector/blue-marketing-charts-design-template_52683-24522.jpg" class="img-fluid" alt="Representación de gráfica">
        
        </div>
    </div>
</div>

<script>
    document.getElementById("selectMenu").addEventListener("change", function() {
        var categoriaDropdown = document.getElementById("categoriaDropdown");
        if (this.value === "categoria") {
            categoriaDropdown.style.display = "block";
        } else {
            categoriaDropdown.style.display = "none";
        }
    });
</script>

<%- include('includes/footJavaScript.ejs') %>
